spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &"
spawn-sh-at-startup "vicinae server &"
spawn-sh-at-startup "qs -c noctalia-shell"

input {
    keyboard {
        xkb { layout "us" }
        numlock
    }

    focus-follows-mouse
}

binds {
  Mod+Return cooldown-ms=500 { spawn "kitty"; }
  Mod+Space repeat=false { spawn "vicinae" "toggle"; }
}
